@tailwind base;
@tailwind components;
@tailwind utilities;


/* CUSTOM CSS CLASSES */

.custom--submenu{
    display: none;
    top: 88px;
    left: 0;
    right: 0;
}

.custom--menu-item:hover .custom--submenu{
    display: flex;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none; 
} 

/* END CUSTOM CSS CLASSES */